@using Core.Convertors;
@using Core.Services.Interfaces;
@using DataLayer.Entities;
@model int

@inject IProductService _Product;

@{
    var ProductPage = _Product.GetProductById(Model);

    ViewData["Title"] = ProductPage.Title;

    var Features = ViewBag.FeaturesTitle as List<Core.DTOs.ProductFeaturesViewModel>;
    var _InjectProduct = _Product.GetProductCommentsByProductId(Model);
}


<div class="col-md-9 col-sm-8 left-side-content">
    <section class="single-page">
        <header><h3> @ProductPage.Title  </h3> </header>
        <article>
            <!-- Detail -->
            <div class="col-md-8 col-sm-12 col-xs-12 pull-left detail-product">
                <div>
                    <span> قیمت : @ProductPage.Price.ToString("#,0") تومان </span>
                    <a href="" class="add-to-card-link border-radius"> افزودن به سبد خرید </a>
                </div>
                <p>
                    @Html.Raw(ProductPage.ShortDescription)
                </p>
            </div>
            <!-- End Detail -->
            <!-- Gallery -->
            <div class="col-md-4 col-sm-12 col-xs-12 pull-right product-gallery">
                <div class="large-image border-radius">
                    <img class="border-radius" src="/ProductImage/@ProductPage.ImageName">
                </div>
                @if (ProductPage.ProductGalleries.Any())
                {
                    <div class="thumbnails-image">
                        <div class="row">
                            @foreach (var Gallery in ProductPage.ProductGalleries)
                            {
                                <div class="col-md-3 col-sm-3 col-xs-4 border-radius">
                                    <img class="border-radius" src="/ProductImage/ProductGalleries/@Gallery.ImageName" alt="@Gallery.Title">
                                </div>
                            }
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>
            <!-- End Gallery -->
            <div class="clearfix"></div>
        </article>
    </section>


    <div class="tabs-product margin-top-25">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#main-content"> توضیحات کامل </a></li>
            <li><a data-toggle="tab" href="#properties"> ویژگی ها </a></li>
            <li><a data-toggle="tab" href="#comments"> نظرات کاربران </a></li>
        </ul>

        <div class="tab-content ">

            <!-- description -->
            <div id="main-content" class="tab-pane fade in active">
                <h3>  توضیحات محصول : </h3>
                <p>
                    @Html.Raw(ProductPage.Text)
                </p>
            </div>
            <!-- End description -->
            <!-- Chart -->
            <div id="properties" class="tab-pane fade">
                <h3> ویژگی های محصول : </h3>

                @if (Features.Any())
                {
                    <ul>
                        @foreach (var Feature in Features)
                        {
                            <li> @Feature.FeatureTitle : @string.Join(",", Feature.Values)</li>
                        }
                    </ul>
                }
            </div>
            <!-- End Chart -->
            <!-- Comment -->
            <div id="comments" class="tab-pane fade">
                <div class="comment-layer">

                    <!-- Add Comment -->
                    <!-- End Add Comment -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            <form asp-controller="Products" asp-action="CreateComment"
                                  data-ajax="true"
                                  data-ajax-method="true"
                                  data-ajax-mode="replace"
                                  data-ajax-update="#listComment"
                                  data-ajax-success="Success">
                                <input type="hidden" value="@ProductPage.ProductId" name="comment.ProductId" />
                                <input type="hidden" name="comment.ParentId" id="comment_ParentId" />
                                <div class="col-md-12">
                                    <textarea class="form-control" name="comment.Comment" id="comment_Comment" placeholder="متن دیدگاه"></textarea>
                                    <button class="btn btn-primary" type="submit">افزودن دیدگاه در مورد محصول</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>

                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info text-center">
                            <p class="help-block">برای به اشتراک گذاشتن نظرتان ابتدا باید وارد حساب کاربریتان شوید.</p>
                        </div>
                    }

                    <!-- Show Product Comments List -->

                    <ul class="comment-list" id="listComment">
                    </ul>

                    <!-- End Show Product Comments List -->
                </div>

            </div>
            <!-- End Comment -->



        </div>
    </div>

    <section class="border-radius tags-layer">
        @foreach (var ProductTags in ProductPage.ProductTags)
        {
            <a href="/Search?q=@ProductTags.Tag"> @ProductTags.Tag </a>
        }
    </section>


</div>


@section Scripts {
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>

        function Success() {

            $("#comment_Comment").val("");

            Swal.fire({
                title: "موفقیت آمیز!",
                text: "کاربر گرامی نظر شما با موفقیت ثبت شد",
                icon: "success"
            });
        }

        function ReplyComment(id) {
            $("#comment_ParentId").val(id);
            $("html, body").animate({ scrollTop: $("#comments").offset().top }, 1000);
        }

        $(function () {
            $("#listComment").load("/Products/ShowComments/@ProductPage.ProductId")
        });

        function ShowPageComments(id) {
            $("#listComment").load("/Products/ShowComments/@ProductPage.ProductId" + "?pageId=" + id)
        }

    </script>
}