@using Core.Convertors;
@using Core.Services.Interfaces;
@using DataLayer.Entities;
@model int

@inject IProductRepository _Product;

@{
    var ProductPage = _Product.GetProductById(Model);

    ViewData["Title"] = ProductPage.Title;

    var Features = ViewBag.FeaturesTitle as List<Core.DTOs.ProductFeaturesViewModel>;
    var _InjectProduct = _Product.GetProductCommentsByProductId(Model);
}


<div class="col-md-9 col-sm-8 left-side-content">
    <section class="single-page">
        <header><h3> @ProductPage.Title  </h3> </header>
        <article>
            <!-- Detail -->
            <div class="col-md-8 col-sm-12 col-xs-12 pull-left detail-product">
                <div>
                    <span> قیمت : @ProductPage.Price.ToString("#,0") تومان </span>
                    <a href="" class="add-to-card-link border-radius"> افزودن به سبد خرید </a>
                </div>
                <p>
                    @Html.Raw(ProductPage.ShortDescription)
                </p>
            </div>
            <!-- End Detail -->
            <!-- Gallery -->
            <div class="col-md-4 col-sm-12 col-xs-12 pull-right product-gallery">
                <div class="large-image border-radius">
                    <img class="border-radius" src="/ProductImage/@ProductPage.ImageName">
                </div>
                @if (ProductPage.ProductGalleries.Any())
                {
                    <div class="thumbnails-image">
                        <div class="row">
                            @foreach (var Gallery in ProductPage.ProductGalleries)
                            {
                                <div class="col-md-3 col-sm-3 col-xs-4 border-radius">
                                    <img class="border-radius" src="/ProductImage/ProductGalleries/@Gallery.ImageName" alt="@Gallery.Title">
                                </div>
                            }
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>
            <!-- End Gallery -->
            <div class="clearfix"></div>
        </article>
    </section>


    <div class="tabs-product margin-top-25">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#main-content"> توضیحات کامل </a></li>
            <li><a data-toggle="tab" href="#properties"> ویژگی ها </a></li>
            <li><a data-toggle="tab" href="#comments"> نظرات کاربران </a></li>
        </ul>

        <div class="tab-content ">

            <!-- description -->
            <div id="main-content" class="tab-pane fade in active">
                <h3>  توضیحات محصول : </h3>
                <p>
                    @Html.Raw(ProductPage.Text)
                </p>
            </div>
            <!-- End description -->
            <!-- Chart -->
            <div id="properties" class="tab-pane fade">
                <h3> ویژگی های محصول : </h3>

                @if (Features.Any())
                {
                    <ul>
                        @foreach (var Feature in Features)
                        {
                            <li> @Feature.FeatureTitle : @string.Join(",",Feature.Values)</li>
                        }
                    </ul>
                }
            </div>
            <!-- End Chart -->
            <!-- Comment -->
            <div id="comments" class="tab-pane fade">
                <div class="comment-layer">

                    <!-- Add Comment -->
                    <!-- End Add Comment -->
                    <div id="myDiv">
                        @Html.Partial("AddComments",ProductPage.ProductId)
                    </div>

                    <!-- Show Product Comments List -->
                    @if (_InjectProduct.Any())
                    {
                        <ul class="comment-list">
                            <li>
                                <div class="clearfix"></div>
                                <ul>
                                    @foreach (var comments in _InjectProduct.Where(pc => pc.ParentId == null))
                                    {
                                        <li>
                                            <a onclick="ReplyComment(@comments.CommentId)" id="Replybtn" class="reply-button">پاسخ</a>

                                            <img src="/img/avatar.jpg" width="65">
                                            <div>
                                                <h5>ارسال شده از : @comments.UserName : @comments.CreateDate.ToShamsi() </h5>
                                                <p>
                                                    @comments.Comment
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>

                                        foreach (var subComment in _InjectProduct.Where(pc => pc.ParentId == comments.CommentId))
                                        {
                                            <li>
                                                <img src="/img/avatar.jpg" width="65">
                                                <div>
                                                    <h5>پاسخ داده شده توسط : @subComment.UserName : @subComment.CreateDate.ToShamsi() </h5>
                                                    <p>
                                                        @subComment.Comment
                                                    </p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                        }
                                    }
                                </ul>

                            </li>
                        </ul>
                    }

                    <!-- End Show Product Comments List -->
                </div>

            </div>
            <!-- End Comment -->



        </div>
    </div>

    <section class="border-radius tags-layer">
        @foreach (var ProductTags in ProductPage.ProductTags)
        {
            <a href=""> @ProductTags.Tag </a>
        }
    </section>


</div>


@section Scripts{
    <script>
        function ReplyComment(id) {
            $("#ParentId").val(id);
            $("html, body").animate({ scrollTop: $("#myDiv").offset().top }, 1000);
        }

        function AddComment(id) { 
            $.ajax({
                url:"/Products/AddComments/" +id,
                
            })
        }


        function success() {
            $("#UserName").val("");
            $("#Email").val("");
            $("#WebSite").val("");
            $("#Comment").val("");
            $("#ParentId").val("");
        }
    </script>
        }