@page
@using Core.Convertors;
@using Core.Services.Interfaces;
@using DataLayer.Entities;
@model Eshop_Core.Pages.Admin.Products.IndexModel
@inject IProductRepository _Product;
@{
    ViewData["Title"] = "لیست محصولات";
}

<div class="clearfix"></div>
<br />
<p>
    <a class="btn btn-success" href="Products/Add">افزودن محصول</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                نام محصول
            </th>
            <th>
                تصویر
            </th>
            <th>
                قیمت
            </th>
            <th>
                تاریخ ثبت
            </th>
            <th>
                گروه های کالا
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="/ProductImage/@item.ImageName" alt="@item.Title" width="160" height="160" class="img-thumbnail img-responsive img-rounded">
                </td>
                <td>@item.Price.ToString("#,0") تومان</td>
                <td>@item.CreateDate.ToShamsi()</td>
                <td>
                    <ol>
                        @foreach (var selectedGroups in _Product.GetAllProductGroups(item.ProductId))
                        {
                            <li>
                                <p>
                                    @selectedGroups.GroupTitle
                                </p>
                            </li>
                        }
                    </ol>
                </td>

                <td>
                    <a class="btn-xs btn-info" href="/Admin/ProductGallery/Index?id=@item.ProductId"> گالری محصول </a> |
                    <a class="btn-xs btn-primary" href="/Admin/ProductFeatures/Index?id=@item.ProductId"> ویژگی محصول </a> |
                    <a class="btn-xs btn-warning" asp-page="./Edit" asp-route-id="@item.ProductId">ویرایش</a> |
                    <a class="btn-xs btn-danger" asp-page="./Delete" asp-route-id="">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
